.App{
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}

.left_block, .right_block{
  display: flex;
  flex-direction: column;
}

.left_block{
  flex-grow: 1;
  border-right: 2px solid #D7D9DC;
}

.right_block{
  flex-grow: 3;
  justify-content: space-between;
}

.div_chat{
  width: 100%;
}

.right_block_image{
  background-image: url(./pictures/abstraktsiia-krugi-geometriia-fon-linii-background-colorful.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: initial;
}